#main-container{
    margin-top: 140px;
  }
  #big-section{
    height: 1000px;
    background-color: #F3EDD3;
    margin-top: 10px;
  }
  .navbar-brand{
    float: left;
    height: 80px;
  }
  .navbar-header{
  }